footer {
    background-color: #ebd0d0;
    color: #000000;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

ul {
    background-color: #ebd0d0;
}

.footer p, span, li, ul{
    background-color: #ebd0d0;
}
  
  .social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .social_list li {
    margin: 0 1em;
    cursor: pointer;
  }
  
  .Linkedin {
    color: #1885e5;
    opacity: 0.2;
    transition: opacity 1s;
  }
  
  .Github {
    color: #ec8d1a;
    opacity: 0.2;
    transition: opacity 1s;
  }
  
  .Linkedin:hover {
    opacity: 1;
  }
  
  .Github:hover {
    opacity: 1;
  }